/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion-style {
  background-color: #eee;
  color: #444;
  padding: 18px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

.filter-accordion {
    padding: 10px;
    border: 1px solid black;
}

.filter-accordion > div {
    display: inline-block;
    transition: all 0s 0s;
    transform: rotate(0);
}

.filter-accordion.active > div {
    display: inline-block;
    transform: rotate(90deg);
    transition: all 0s 0s;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  background-color: white;
  display: none;
  overflow: hidden;
}

.panel-style {
  padding: 0 18px;
}
