.disabled {
  pointer-events: none;
  opacity: 0.4;
}

#format-filter-toggles div:nth-child(even) {
  background-color: #f2f2f2;
}

#program-filter-toggles div:nth-child(even) {
  background-color: #f2f2f2;
}

.mybtn {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.4rem 0.65rem;
    margin: 8px 0;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    cursor: pointer;
    
    background-color: var(--fc-button-bg-color);
    border-color: var(--fc-button-border-color);
    color: var(--fc-button-text-color);
}

.mytextbox {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.movielistentry {
  display: flex;
  align-items: center;
  border-width: thin;
  border-style: solid;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 50px 5px 5px;
  cursor: pointer;
}

.movielistbutton {
  cursor: pointer;
  background-color: transparent;
  border-width: 1px;
}

@media (max-width: 1000px) {
  #layout {
    height: 98dvh;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
  }

  .flexcolumn {
    padding-bottom: 5%;
  }

  body {
    font-size: xx-large;
  }

  .fc .fc-toolbar-title {
    font-size: 42px;
  }

  .movielistentry {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .switch {
    width: 54px;
    height: 30.6px;
  }
  .slider:before {
    height: 23.4px;
    width: 23.4px;
    left: 3.6px;
    bottom: 3.6px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(23.4px);
    -ms-transform: translateX(23.4px);
    transform: translateX(23.4px);
  }

  #showtime-details {
    min-width: 480px;
    min-height: 360px;
    max-height: 480px;
  }

  #movie-showtime-listing {
    min-width: 680px;
    max-height: 800px;
  }

  #manage-watchlist-popover {
    min-width: 420px;
    max-height: 480px;
  }

  .mybtn {
    max-width: 36px;
    max-height: 40px;
  }

  .accordion-style {
    font-size: xx-large;
  }

.movielistbutton {
    height: 40px;
    width: 60px;
    font-size: 26px;
  }
}

@media (min-width: 1000px) {
  #layout {
    height: 98dvh;
    flex-direction: row;
  }

  .flexcolumn {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
  }
}
